*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter','Arial', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

a:hover{
    text-decoration: none;
    color: unset;
}

ul{
    margin-bottom: unset;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
}
p{
    margin-bottom: unset;
}