.background-primary{
    background-color: $bg-c1-primary;
    background-image: $bg-c1-gradient;
}

.btnBuyGrad{
  padding: 8px 18px ;
  color: $text-c1-light;
  background-color: $bg-c1-third;
  background-image:$bg-c2-gradient;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    color: $text-c1-primary;
  background-image:$bg-c3-gradient;
  }
}

// ----------------Mixin----------------

@mixin text($fs: $text-base, $fw: $text-regular, $fc: $text-c1-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $fc;
  }
  
  ;
  
  @mixin res-sm {
    @media (max-width: #{$sm}) {
      @content;
    }
  }
  
  @mixin res-md {
    @media (max-width: #{$md}) {
      @content;
    }
  }
  
  @mixin res-lg {
    @media (max-width: #{$lg}) {
      @content;
    }
  }
  
  @mixin res-xl {
    @media (max-width: #{$xl}) {
      @content;
    }
  }
  
  @mixin res-xxl {
    @media (max-width: #{$xxl}) {
      @content;
    }
  }
  