// ----------------Text----------------
// text-size
$text-xs: 13px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
// font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;
// text-color
$text-c1-primary: #e0f80c;
$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c2-dark: rgba(0, 0, 0, .3);
$text-c3-dark: #e2e2e2;
$text-c1-pink: #d46661;
$text-c2-pink: #c43a33;
$text-c1-purple: #AE18E2;
// ----------------Background----------------
// bg-color
$bg-c1-primary: #d9e4f5;
$bg-c1-secondary: #dcd1f3;
$bg-c1-third:#663dff;
$bg-c1-gradient: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
$bg-c2-gradient: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
$bg-c3-gradient: linear-gradient(216deg, #a994f7 0%, #9f4dc9 37%, #ec7fc2 100%);
$bg-c1-light: #fff;
$bg-c2-light: #f8f8f8;
$bg-c1-dark: #000;
$bg-c2-dark: rgba(0, 0, 0, .3);
$bg-c3-dark: #e2e2e2;
$bg-c4-dark: #DEDDDC;
$bg-c4-dark: #ececec;
