footer {
    .bg-wrap {
        padding: 2rem 0;
        &:last-child{
            background-color: $bg-c4-dark;
        }
        .container {
            .row {
                .col-item {
                    @include res-md{
                        margin-bottom: 1.5rem;
                    }
                    .col-content {
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            border-radius: 50px;
                            border: 1px solid $bg-c3-dark;
                            height: 100%;
                            top: 0;
                            left: -25px
                            
                        }
                        h3 {
                            @include text(1.8rem,$text-bold,$text-c1-dark);
                        }

                        .tags-list {
                            padding-bottom: 1rem;
                            @include res-md{
                                padding-bottom: 0;
                            }
                            .tag {
                                &:first-child{
                                    margin-top: 0;
                                }
                                line-height: 1;
                                margin: 0.3rem 0;
                                // @include res-md{
                                //     margin: 0.5rem 0;
                                // }
                                a {
                                    @include text(0.9rem,$text-regular,$text-c1-dark);
                                    @include res-md{
                                        margin: 0.5rem 0;
                                    }
                                }
                            }
                        }
                        p{
                            @include text(0.9rem,$text-regular,$text-c1-dark);
                            margin-bottom: 0.25em;
                        }

                        .footer-link{
                            @include text(0.9rem,$text-regular,$text-c1-pink);
                            transition: all 0.3s ease;
                            &:hover{
                                color: $text-c2-pink;
                            }
                        }
                    }

                }
            }
        }
    }
}