.carousel{
    @extend .background-primary;
    
    .carousel_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        img {

        }
        .content_inner{
            h3{

            }
            p {

            }
            button{

            }
        }

    }
}

#products{
    .prod-item{
        .card{
            color: $text-c1-dark;
            background-color: $bg-c1-light;
            border: 1px #c77cf3 solid;
            .card-header{
                img{
                    transform: rotateY(3.142rad) rotateZ(345deg);
                }
            }
            .card-body{
            }
            .card-footer{
                color: rgb(103, 64, 153);
                font-size:$text-2xl ;
                font-weight:$text-semibold ;
                border: none;
                .btnBuy{
                    @extend .btnBuyGrad;
                    font-size: $text-base;
                    font-weight: $text-regular;
                }
    
            }
        }
    }
}
